* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navList {
    width: 100%;
    list-style: none;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    /*margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    padding-left: 10px;
    padding-right: 15px;*/
    align-items: center;

}

nav {
    width: 100%;
}

.container {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: #cbdaf7;
    background-image: linear-gradient(62deg, #ffffff 0%, #eee8f6 100%);


}

.navContainer {
    /*background-color: #80BCBD;*/
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

    width: 100vw;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#navLogo {
    font-size: 2.5rem;
    color: #6100bc;
}

a {
    text-decoration: none;
    color: #0b51bc;
    transition: all 0.5s linear 0s;
}

a:hover {
    color: rgba(154, 18, 196, 0.772)
}

#info {
    display: flex;
    gap: 35px;
    font-size: 1.6rem;
}



.footerBox {
    width: 100%;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    text-align: center;
    min-height: 20px;
    color: #6100bc
}

.contentBox {
    width: 60%;
    margin: auto;
    /*background-color: powderblue;*/
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 2rem;
    /*box-shadow: 3px 3px 15px lightblue;*/
}

.items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.right img {
    height: 100%;
    border-radius: 20px;
    transition: all 0.3s linear 0s;
}

.right:hover {
    transform: scale(1.1);
}

.right {
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear 0s;
    border-radius: 20px;
    background: yellow;
    height: 150px;
}

.right .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.628);
    opacity: 0;
    transition: all 0.3s linear 0s;
}

.right:hover .overlay {
    opacity: 1;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.left h2 {
    font-size: 1.5rem;
}

.ingbox {
    font-size: 1.2rem;
}

section {
    box-shadow: 0px 0px 25px lightblue;
    border-radius: 10px;
}